{
    "bot_settings": {
        "status_change_interval_seconds": 180
    },

    "data_files": {
        "jokes_file": "jokes.json",
        "responses_file": "responses.json",
        "swears_file": "swears.json",
        "statuses_file": "statuses.json",
        "ama_file": "ama.json"
    }
}